section.gallerified {
	box-sizing: border-box;
	margin: 0;
	padding: 1%;
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	overflow-y: auto;
	z-index: 1337;
}

section.gallerified .item img {
	max-width: 100%;
}

section.gallerified .item {
	overflow: hidden;
	border: 1px solid #000;
	transition: border-color 0.5s;
	width: 19%;
	margin-bottom: 1%;
	text-align: center;
	display: block;
}

section.gallerified .item:hover {
	border-color: #a21438;
}

section.gallerified .loading {
	text-align: center;
	transition: opacity 1.2s;
	margin: 20px 0;
}

section.gallerified .gutter-sizer {
	width: 1%;
}